.App {
  text-align: center;
}

.IconContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
}


.ButtonContainer {
  display: flex;
  align-items: center;
}

.ButtonContainer .button {
  margin: auto;
  padding: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 0.5rem outset grey;
}